@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Sans+TC:wght@100&family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap'); */

/*===========================================
Base CSS
============================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  /* height: 100%; */
  scroll-behavior:smooth;
}
body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  font-size: 14px;
  overflow: hidden;
  background: #fafafa;
  scroll-behavior:smooth;
}
label {
  padding: 0;
  margin: 0;
}
ul, li, ol {
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a, img {
  border: 0;
  outline: none;
  text-decoration: none;
}
input::-moz-focus-inner {
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
input, select, textarea, button{
  font-family: 'Muli', sans-serif;
}
input:focus, select:focus, textarea:focus, button:focus{
  outline: 0;
}

a {
  color: inherit;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }


p {
  margin-bottom: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0; }


i.material-icons {
  font-size: inherit;
  line-height: inherit;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{

  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #777;
}

/*===========================================
Display Styles
============================================*/

.wrapper {
  /* width: 100%;
  height: 100%; */
  display: flex;
  /* flex-direction: row; */
  justify-content: start;
  border: rgb(250, 5, 29) 5px solid;

  
  
}

/* .left-content-container{
position: fixed;
border: rgb(44, 203, 239) 5px solid;
width: 40%;
margin-right: -200px;
max-width: 40%;
height:100vh ;
padding: 0px 20px;
} */



.right-content-container{
margin-left: 20%;
/* width: 100s%; */
/* border: rgb(211, 119, 20) 5px solid; */
width: 80%;
/* max-width: 60%; */
border: rgb(231, 75, 8) 5px solid;



/* padding-left: 50px; */
/* flex: 1; */
}
/* .d-flex{
  display: flex;
} */

.page{
  display: flex;
  /* align-items: flex-start; */
  /* flex-wrap: wrap; */
  height:100vh ;
  /* width: 100vh; */
  border: #17080f 2px solid;
  flex-direction: column;
  margin: 10px 0px ;
 

}



.lowerpage{
  display: flex;
  height: 90vh;
  /* width: 100vh; */
}
/* .d-flex-align-center-column{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
} */



/*===========================================
Page Styles
============================================*/
/* .container { */
    /* height:s 100%; */
    /* width: 200px; */
    /* display: flex;
    flex-direction: row;
    position: relative; */
/* } */

/*===========================================
左側menu Styles
============================================*/

.left-content {
  position: fixed;
  border: blue 2px solid;
  /* margin-right:-500px; */
    /* width: 50vhs; */
    /* overflow-y: asuto; */
    /* height: 100%; */
    background: #fff;
    /* border-right: 1px solid rgba(221, 221, 221, 0.38); */
    display: flex;
    flex-direction: column;
    height:90vh;


    width: 20%;
/* margin-right: -200px; */
    
}



/*=======================
左側menu(首頁標題) Styles
=========================*/

.logo {
    display: flex;
    justify-content: flex-end;
    /* background-color: rgb(223, 93, 134); */
}

.logo a {
    color: #fff;
    text-align: right;
    background: rgb(223, 93, 134);
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 30px;
    font-weight: 500;
}

/*=======================
左側menu(導航) Styles
=========================*/

.nav {
    flex: 1;
    /* display: flex; */
    justify-content: flex-end;
    margin: 25% 0px;
}

.nav ul li, .nav ul li a {
    display: flex;
    justify-content: flex-end;
}

.nav ul li a {
    padding: 8px 0px;
    margin: 2% 10%;
    text-transform: uppercase;
    color: rgb(223, 93, 134);
    letter-spacing: 3px;
    font-weight: 500;
    position: relative;
}

.nav ul li a:hover {
    color: rgb(238, 27, 76);
    font-weight: 900;

}
.nav ul li a:after {
    content: "";
    width: 0;
    height: 1px;
    background: rgba(238, 27, 76, 0.653);
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav ul li a:hover:after {
    width: 100%;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.fa-arrow-down{
  margin-top: 2px;
  margin-left: 3px;
}

.nav ul ul li a {
  padding: 2px 0px;
  margin: 0.5% 10%;
  text-transform: none;
  color: rgb(182, 129, 214);
  letter-spacing: 1.5px;
  font-weight: 800;
  position: relative;
  /* border: springgreen 1px solid; */
}

.nav ul ul li a:hover {
  color: rgb(202, 79, 227);
  font-weight: 900;

}
.nav ul ul li a:after {
  content: "";
  width: 0;
  height: 1px;
  background: rgba(166, 37, 180, 0.653);
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav ul ul li a:hover:after {
  width: 100%;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

/*=======================
左側menu(底部版權) Styles
=========================*/

 .copy-rights {
    display: flex;
    justify-content: flex-end;
    letter-spacing: 1.4px;
    color:rgba(199, 140, 154, 0.653);
    /* border: olivedrab solid 2px; */
    font-weight: 700;
    /* margin: 0px 20px; */
    font-size: 12px;
    font-style: italic;
    width: 100%;

    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
  
}

/*===========================================
右側page-about Styles
============================================*/

.main-content {
  /* flex: 2;  */
  /* width: 100%; */
  /* overflow-y: auto; */
  /* margin-left: 10px; */
  background: #fff;
  border-left: 1px solid rgba(221, 221, 221, 0.38);
  height: 100vh;
  background: rgb(250,250,250);
  background: linear-gradient(90deg, rgba(250,250,250,1) 17%, rgba(255,235,244,1) 46%, rgba(251,214,228,1) 76%);
}

/*=======================
右側page-about(社交icon) Styles
=========================*/

/* .social-icons ul{
  border: blue 2px solid;

} */

.social-icons ul li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

/* .social-icons ul li a {
    padding: 5px 8px;
    font-size: 16px;
} */

.social-icons ul {
  display: flex;
  justify-content: space-evenly;
}

.social-icons ul li a {
  padding: 15px 0px;
  font-size: 22px;
  transition: all .3s;
  /* display: flex; */
  /* border: steelblue 2px solid; */
}


.social-icons ul li a:hover {
  color: #000;
  transform: scale(1.2) translateY(-5px);
}
.user-profile {
    padding: 30px 0px 15px 50px;
    border: rgb(190, 9, 72) 2px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 20rem; */

}

/*=======================
右側page-about(頭貼) Styles
=========================*/

.profile-details{
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  border: blue 2px solid;
  margin:0px 0px;
  height: 80vh;
  width: 100%;

}

.profile-right{
  display: flex;
  flex-direction: column;
  width: 55%;
}


.user-img{
  border: blue 2px solid;
  /* height: 100%; */
  width: 30%;
  position: relative;
  /* max-width: 10rem; */
  padding-top: 50px;
  /* padding-bottom: 50px; */

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* width: 100%; */


}

.amoeba {
  /* border: steelblue 2PX solid; */
  margin: 0px 15%;    
  width: 28vh;
  height: 28vh;
  background: linear-gradient( 90deg,
  #f572b5,
  #ec89af,
  #ec89b7,
  #e998ba,
  #f7a4be);
  z-index: 1;
  /* background-size: 1600% 1600%; */
  animation: morph 10s ease-in-out infinite alternate,
  change 20s linear infinite alternate;
  position: relative;

 
}

.photo{
width: 23vh;
height: 23vh;
border-radius: 50%;
position: absolute;
top: 8%;
right: 10%;
/* margin: 0% 50%;    */
/* border: steelblue 2PX solid; */

/* height: 20rem; */
}

@keyframes morph {
  0%,
  100% {
      border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
      border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
      border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
      border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
      border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

@keyframes change {

  100% {
      background-position: 100% 50%;
  }

}

.cn-name{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(228, 90, 150);
    font-family: "Roboto", sans-serif;
    /* border: springgreen solid 2px; */
    text-align: center;
    padding-top:10px;
}

.cn-name i{
  font-size: 10px;

}

.en-name{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  /* line-height: 1.8; */
  color: rgb(228, 90, 150);
  font-family: 'Caveat', cursive; 
  /* border: springgreen solid 2px; */
  text-align: center;
  padding-bottom:5px;

}

 
/*=======================
右側page-about(介紹) Styles
=========================*/
.profile-text {
    width: 45%;
    font-size: 15px;
    padding: 50px 0px 10px 0px;
    /* margin: 0 5vh; */
    /* margin-left: 50px; */
    border: rgb(34, 26, 24) 3px solid;
    /* margin-left: 0px; */
}

.profile-text p{
  letter-spacing: 1.8px;
  color: rgb(224, 105, 171);
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: 2px;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: 2spx;
    opacity: 1;
  }
}




/* .social-icons {} */

/* .social-icons ul li:nth-child(1) a {
    padding-left: 0;
} */

.social-icons ul li a:hover {
    color: #000;
    transform: scale(1.2) translateY(-5px);
}
/* .sec-title { */
    /* width:50% ; */
    /* margin-bottom: 50px; */
    /* border: steelblue solid 2px; */
/* } */

.pg-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    color: rgb(223, 93, 134);
}

.pg-sub-title {
    margin-bottom: 10px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}

.slogan-details{
  width: 100vh;
}
  

.slogan{
  /* position: relative;
    top: 50%;   */
    width: 100vh;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    letter-spacing: 2px; 
}

.english-slogan{
    font-size: 25px;
    font-family: 'Caveat', cursive;  
    color: rgb(223, 93, 134);
}

.chinese-slogan{
  font-size: 18px;
  font-family: 'Noto Sans TC', sans-serif;  
  color: rgb(223, 109, 146);

}





/* Animation */
.en-anim-typewriter{
  animation: typewriter 1.8s steps(25) 1.8s 1 normal both ,
             blinkTextCursor 1000ms steps(10)  normal;
}

.cn-anim-typewriter{
  animation: typewriter 2s steps(30) 4s 1 normal both ,
             blinkTextCursor 1000ms steps(10)  normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 550px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(22, 17, 17, 0.75);}
  to{border-right-color: transparent;}
}









.edu, .hobby {
  /* float: left; */
  width: 100vh;
  border: rgba(0, 0, 0, 0.6) solid 1px;
  padding: 20px 3px ;
  /* margin-right: 70px; */
  /* padding-left: 0px; */
}

.edu h3, .hobby h3, .work h3, .skills h3{
  color: #a58e9b;
  letter-spacing: 2px;
  /* border: rgba(0, 0, 0, 0.6) solid 1px; */
  font-weight: 300;
  /* padding-right: 10px; */

}

.edu i, .hobby i, .work i{
  padding-right: 5px;

}

.edu small, .work small{
  display: block;
  opacity: 0.7;
}

.edu ul, .work ul {
  /* position: relative; */
  /* border: rgba(0, 0, 0, 0.6) solid 1px; */
  margin-top: -20px;
  padding: 5px 0px;
}

.edu ul li, .work ul li{
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

.edu ul li:hover::before, .work ul li:hover::before{
  animation: circle 1.2s infinite;
}

.edu ul li span, .work ul li span{
  transition-duration: 0.3s;
  color: #c573e0;
}

.edu ul li:hover span, .work ul li:hover span{
  color: #a41eb3;
}

@keyframes circle {
  from {
    box-shadow: 0 0 0 0px #c86fcb;
  }
  to {
    box-shadow: 0 0 0 6px rgba(150, 27, 134, 0);
  }
}

.edu ul li:first-of-type::before, .work ul li:first-of-type::before{
  width: 10px;
  height: 10px;
  left: -2px;
}

.edu ul li:last-of-type, .work ul li:last-of-type{
  padding-bottom: 3px;
}

.edu ul li:last-of-type::after, .work ul li:last-of-type::after{
  border-radius: 1.5px;
}

.edu ul li::before, .edu ul li::after, .work ul li::before, .work ul li::after{
  content: "";
  display: block;
  position: absolute;
}

.edu ul li::before, .work ul li::before{
  width: 7px;
  height: 7px;
  border: 3px solid #a64ac5;
  background: #ffffff;
  border-radius: 50%;
  left: 0;
  z-index: 1;
}

.edu ul li::after, .work ul li::after{
  width: 3px;
  height: 100%;
  background: #b283c2;
  left: 5px;
  top: 0;
}

.hobby-list{
  display: flex;
}

.hobby-list li{
  /* border: steelblue 1px solid; */
  margin: 0px 5px ;
  width: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobby-list img{
 width: 9vh;
}

.hobby-list small{
  /* border: steelblue 1px solid; */
  font-size: 5px;
  text-align: center;
  letter-spacing: 0.9px;
  color: #6983a1;
  /* margin: 0px 5px ; */
  /* width: 60px; */
}

 .jello-vertical:hover {
	-webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
}

 @-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

/*===========================================
右側page-work experience Styles
============================================*/

.work{
  margin-top: 10px;
  /* border: #dc9393 2px solid; */
}

.work ul{
  /* border: #bb93db 2px solid; */
}

.work span{
  font-weight: 900;
  font-size: 15px;
  /* border: #bb93db 2px solid; */
}

.work span span{
  font-weight: 100;
  font-size: 10px;
  font-style: italic;

  /* border: #bb93db 2px solid; */
}

.work-description{
  color: rgb(186, 139, 227);
  /* border: #bb93db 2px solid; */
  font-style: italic;
}

.work ul ul{
  margin-top: 10px;
  /* border: #9fa1e0 2px solid; */
}

.work .project span, .work .skill span{
  font-size: 14px;
  font-weight: 900;
}

.work .project{
  font-size: 13px;
  color: #395ecc;
  /* border: #bb93db 2px solid; */
  line-height: 20px;
  margin-bottom: 1px;

}

.work .skill{
  font-size: 13px;
  color: #e63c93;
  font-weight: 800;
  /* border: #bb93db 2px solid; */
  line-height: 20px;
  margin-top: 0px;

}










/*===========================================
右側page-Skills Styles
============================================*/
.skills__title::after, .skills__title::before, .card__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.5rem;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: inherit;
  box-shadow: inset 0 0 0 0.3428571429rem;
  transition: all 0.5s;
}

.box {
  width: 85%;
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.5;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 6rem -1rem rgba(38, 37, 37, 0.3);
}

.cards {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.card {
  position: absolute;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-image: linear-gradient(to right, transparent calc(1.5rem - 3px), #fff calc(1.5rem - 3px), #fff calc(1.5rem + 3px), transparent calc(1.5rem + 3px));
  counter-increment: card;
  width: 100%;

}
.card:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1.5rem;
  z-index: 0;
  transform: translateX(-50%);
  width: 12px;
  height: 2rem;
  background-color: inherit;
}
.card:nth-of-type(1) {
  transform: translateY(calc(0 * (100% - 1.5rem)));
}
.card:nth-of-type(5n + 1) {
  background-color: #f38cbe;
}
.card:nth-of-type(2) {
  transform: translateY(calc(0.2 * (100% - 1.5rem)));
}
.card:nth-of-type(5n + 2) {
  background-color: #cc81ce;
}
.card:nth-of-type(3) {
  transform: translateY(calc(0.4 * (100% - 1.5rem)));
}
.card:nth-of-type(5n + 3) {
  background-color: #95aef7;
}
.card:nth-of-type(4) {
  transform: translateY(calc(0.6 * (100% - 1.5rem)));
}
.card:nth-of-type(5n + 4) {
  background-color: #d8b570;
}


.cards.is-active .card {
  transform: translateY(0) !important;
}
.cards.is-active .card.is-active {
  transform: translateY(7.5%) !important;
}
.cards.is-active .card.is-active .card__title {
  transform: translateY(0);
}
.cards.is-active .card.is-active .card__title::after {
  transform: scale(1);
}
.cards.is-active .card.is-active .skills__wrapper {
  opacity: 1;
}
.cards.is-active .card:nth-of-type(1).is-active {
  transform: translateY(0%) !important;
}
.cards.is-active .card.is-active ~ .card {
  transform: translateY(100%) !important;
}
.cards.is-active .card.is-active + .card {
  transform: translateY(calc(92.5% - 1.5rem)) !important;
}
.cards.is-active .card__title {
  transform: translateY(-25%);
}
.cards.is-active .card__title::after {
  transform: scale(0.6);
}

.card__title {
  position: relative;
  margin: 0 1.5rem 0.25em 3rem;
  padding-top: 1rem;
  background-color: inherit;
  font-size: 1.7rem;
  letter-spacing: 0.35rem;
  font-weight: 100;
  text-transform: capitalize;
  cursor: pointer;
  transition: transform 0.3s;
  color: #ffffff;
}

.card__title::before {
  top: calc(50% + .5rem);
  box-shadow: inset 0 0 0 0.3428571429rem;
  color: #ffffff;
}
.card.is-active .card__title::before {
  box-shadow: inset 0 0 0 1.2rem;
  color: #ffffff;
}

.skills__wrapper {
  background-color: inherit;
  max-height: calc(100% - 4rem);
  background-image: inherit;
  padding-left: 3rem;
  padding-right: 1.5rem;
  padding-bottom: 114px;
  overflow: auto;
  transition: opacity 0.3s;
  opacity: 0;
  
  
}

.skills__img{
  width: 2.5rem;
  border-radius: 10px;
  margin-right:0.5em;
}

.skills__title {
  position: relative;
  margin-bottom: 0.25rem;
  white-space: nowrap;
  background-color: inherit;
  font-size: 1.4em;
  letter-spacing: 0.3em;
  font-family: 'Neucha', cursive;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.skills__title::before {
  font-size: 1.6em;
  box-shadow: none;
  transform: translate(-50%, -50%) scale(0);
  transition-delay: 0.3s;
}
.skills__title::after {
  width: 0.6em;
  height: 0.6em;
  box-shadow: inset 0 0 0 1.2rem;
  transform: translate(-50%, -50%) scale(0);
  transition-delay: 0.5s;
}
.card.is-active .skills__title::before, .card.is-active .skills__title::after {
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0.3s;
}
.card.is-active .skills__title::after {
  transition-delay: 0.35s;
}

.skills__info {
  margin-bottom: 2rem;
  font-size: 1.1em;
  letter-spacing: 0.18em;
  font-family: "Noto Sans TC", Arial, sans-serif;
}

.skills__info span {
  color: rgb(255, 255, 255);
}

/* .skills__info img {
  width:3em;
} */









/*===========================================
右側page-Portfolio Styles
============================================*/

.portfolio-name{
  /* border: olivedrab 2px solid; */
  text-align: center;
  margin: 0px;
  padding: 1vh;
  letter-spacing: 0.3vh;

}

.portfolio-description{
  /* border: olivedrab 2px solid; */
  text-align: center;
  margin: 0px;
  padding: 1vh;
  letter-spacing: 0.1vh;
  font-weight: 700;
}

.portfolio-wrapper{
  position: relative;
}

.portfolio-items{
display: flex;
flex-wrap:wrap ;
justify-content: center;
border: steelblue 2px solid;
position: relative;
}

.portfolio-item p{
  /* border: steelblue 2px solid; */
  margin: 0vh 5vh;
  margin-top: 2.5vh;
  width: 50vh;
  letter-spacing: 0.3vh;
  text-align: center;
  font-weight: 700;
  background-color: rgb(222, 125, 159);
  color: #efd9e4;
  border-radius: 10px;
}

.gif{
  margin: 0vh 5vh;
  padding: 0vh 1vh;
  width: 50vh;
  /* border: olivedrab 2px solid; */

}

.next-page, .previous-page{
  width: 10vh;
  position: absolute;
  top:75vh;
  right: 8vh;
  text-align: center;

}

.next-page p, .previous-page p {
  text-align: center;
  font-weight: 900;
  margin-bottom:3px;
  letter-spacing: 3px;


}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



@media screen and (min-width: 1500px) {

 .user-img {
    padding-top: 10%;   
 } 

 .slogan-details{
    padding-top: 5%;  
  }

  .slogan{
    letter-spacing: 3px; 
  }
  
  .english-slogan{
    font-size: 30px;
  }
  
  .chinese-slogan{
    font-size: 22px;
  }

  @keyframes typewriter{
    from{width: 0;}
    to{width: 800px;}
  }

  .profile-text {
    font-size: 20px;
    padding: 0px;
  }

  .edu h3, .hobby h3, .work h3, .skills h3{
    letter-spacing: 3.5px;
    font-size: 20px;
  }
  
  .edu small, .work small{
    font-size: 15px;
    letter-spacing: 1.5px;
  }
  
  .edu ul, .work ul {
    font-size: 20px;
    margin-top: -20px;
    padding: 20px 0px;
  }
  
  .hobby-list img{
   width: 8vh;
  }
  
  .hobby-list small{
    letter-spacing: 1.5px;
  }

  
  .work span{
    font-size: 25px;
    letter-spacing: 3px;
  }
  
  .work span span{
    font-size: 15px;
  } 
  
  .work ul ul{
    margin-top: 30px;
  }
  
  .work .project span, .work .skill span{
    font-size: 20px;
  }
  
  .work .project{
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .work .skill{
    font-size: 16px;
  }
  
  
  
  
  
 
}




@media screen and (max-width: 900px) {

.left-content {
  margin:20% 0px;
  height:60vh;
}


.right-content-container{
  /* margin-left: 20%; */
  /* width: 100s%; */
  /* border: rgb(211, 119, 20) 5px solid; */
  /* width: 80%; */
  /* max-width: 60%; */
  /* border: rgb(231, 75, 8) 5px solid; */
  
  
  
  /* padding-left: 50px; */
  /* flex: 1; */
  }

.logo, .pg-sub-title, .pg-title, .work h3, .skills h3 {
    display: none;
}

.nav ul li, .nav ul li a {
    justify-content: start;
}

.nav ul li a {
    padding: 8px 0px;
    margin: 2% 5%;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 10px;
}

 .copy-rights {
    display: none;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}

.page{
  overflow-y:scroll;
  overflow-x:hidden
}

.user-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lowerpage{
  display: flex;
  flex-direction: column;
  /* height: 90vh; */
  /* width: 100vh; */
}

.amoeba {
  /* margin: 0px 30%;     */
  width: 30vh;
  /* width: 100%; */
  height: 30vh;
  /* border: aqua 2px solid; */
}

.photo{
width: 26vh;
height: 26vh;
}

.social-icons ul {
  display: flex;
  margin: 0px 22% ;
    /* border: aqua 2px solid; */

}

.social-icons ul li a {
  font-size: 23px;
  /* margin: 0px 22% ; */
  padding: 10px 20px ;
  border-bottom: rgba(160, 156, 160, 0.714) 2px solid;

} 

.slogan-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slogan{
  letter-spacing: 1px; 
  margin-right: 20%;
  border: aquamarine 2px solid;
  width: 100%;
}

.english-slogan{
  font-size: 15px;
}

.chinese-slogan{
font-size: 10px;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}

.profile-details{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: start;
  height: 100vh;
  /* margin: 0px; */

}

.profile-text {
  
  width: 100%;
  font-size: 13px;
  border-bottom: rgba(160, 156, 160, 0.714) 2px solid;
  border: aqua 2px solid;
  padding: 10px;
  /* padding: 0px; */
  /* margin: 0px; */
}

.profile-text p{
  /* margin-top: 0px; */
  letter-spacing: 3px;
  /* border: aqua 2px solid; */
}

.profile-right{
  width: 100%;
  /* margin-bottom: 1000px; */
}

.edu, .hobby {
  /* float: left; */
  width: 100%;
  border: rgba(0, 0, 0, 0.6) solid 1px;
  padding: 10px 3px 0px 3px  ;
  /* margin-top: 0px; */
  /* border-bottom: rgba(160, 156, 160, 0.714) 2px solid; */
  /* margin-right: 70px; */
  /* padding-left: 0px; */
}

.hobby-list{
  display: flex;
  /* width: 60%; */
  /* border: rgb(16, 7, 147) 2px solid; */
}

.hobby-list li{
  margin: 0px 1% ;
  width: 30%;
  /* border: hotpink 2px solid; */

}

.hobby-list img{
 width: 7vh;
}

.hobby-list small{
  letter-spacing: 0.7px;
}

.work ul{
  padding: 5vh 1.5vh;
}

.box {
  width: 85%;
  margin: 10vh auto;
  line-height: 1.3;
}

.skills__img{
  width: 2rem;
  line-height: 2rem;
}

.skills__title {
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
}

.skills__info {
  margin-bottom: 2rem;
  font-size: 0.9em;
  letter-spacing: 0.18em;
  line-height: 2em;
}

.portfolio-items{
  display: flex;
  flex-direction: column;
  }

  .portfolio-item p{
    width: 100%;
    margin: 20px 0px 0px 0px ;
    /* border: rgb(85, 11, 176) 2px solid; */
  }

  .gif{
    width: 100%;
    margin: 0px 0px 20px 0px ;
  }

  .next-page, .previous-page{
    width: 6vh;
    top:100%;
    right: 43%; 
  
  }
  
  .next-page p, .previous-page p {
    margin-bottom:1px;
    letter-spacing: 1px;
  }




 