@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Noto+Sans+TC:wght@100&display=swap');
/*===========================================
Base CSS
============================================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* height: 100%; */
  scroll-behavior:smooth;
}
body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  font-size: 14px;
  overflow: hidden;
  background: #fafafa;
  scroll-behavior:smooth;

}
label {
  padding: 0;
  margin: 0;
}
ul, li, ol {
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a, img {
  border: 0;
  outline: none;
  text-decoration: none;
}
input::-moz-focus-inner {
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
input, select, textarea, button{
  font-family: 'Muli', sans-serif;
}
input:focus, select:focus, textarea:focus, button:focus{
  outline: 0;
}

a {
  color: inherit;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }


p {
  margin-bottom: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0; }


i.material-icons {
  font-size: inherit;
  line-height: inherit;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{

  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #777;
}

/*===========================================
Display Styles
============================================*/

.wrapper {
  /* width: 100%;
  height: 100%; */
  display: flex;
  justify-content: space-between;
}

.left-content-container{
/* position: fixed; */
border: rgb(42, 190, 109) 5px solid;
width: 40%;
/* padding: 0px 20px; */
}

.right-content-container{
/* margin-right: 1px; */
width: 100%;
border: red 5px solid;
/* padding-left: 50px; */
/* flex: 1; */
}
/* .d-flex{
  display: flex;
} */

.page{
  display: flex;
  /* align-items: flex-start; */
  /* flex-wrap: wrap; */
  flex-direction: column;
  margin: 50px 0px ;
}

.lowerpage{
  display: flex;
  height: 450px;
}
/* .d-flex-align-center-column{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
} */



/*===========================================
Page Styles
============================================*/
/* .container { */
    /* height:s 100%; */
    /* width: 200px; */
    /* display: flex;
    flex-direction: row;
    position: relative; */
/* } */

/*===========================================
左側menu Styles
============================================*/

.left-content {
  position: fixed;
  border: blue 2px solid;
  /* margin-left:10px; */
    width: 300px;
    /* overflow-y: asuto; */
    /* height: 100%; */
    background: #fff;
    border-right: 1px solid rgba(221, 221, 221, 0.38);
    display: flex;
    flex-direction: column;
    
}

/*=======================
左側menu(首頁標題) Styles
=========================*/

.logo {
    display: flex;
    justify-content: flex-end;
    /* background-color: rgb(223, 93, 134); */
}

.logo a {
    color: #fff;
    text-align: right;
    background: rgb(223, 93, 134);
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 30px;
    font-weight: 500;
}

/*=======================
左側menu(導航) Styles
=========================*/

.nav {
    flex: 1;
    /* display: flex; */
    justify-content: flex-end;
    margin: 25% 0px;
}

.nav ul li, .nav ul li a {
    display: flex;
    justify-content: flex-end;
}

.nav ul li a {
    padding: 8px 0px;
    margin: 2% 10%;
    text-transform: uppercase;
    color: rgb(223, 93, 134);
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
}

.nav ul li a:hover {
    color: rgb(238, 27, 76);
    font-weight: 900;

}
.nav ul li a:after {
    content: "";
    width: 0;
    height: 1px;
    background: rgba(238, 27, 76, 0.653);
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav ul li a:hover:after {
    width: 100%;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

/*=======================
左側menu(底部版權) Styles
=========================*/

 .copy-rights {
    display: flex;
    justify-content: flex-end;
    letter-spacing: 1.4px;
    color:rgba(199, 140, 154, 0.653);
    font-weight: 700;
    margin: 0px 20px;
    font-size: 12px;
    font-style: italic;
  
}

/*===========================================
右側page-homes Styles
============================================*/

.main-content {
  /* flex: 2;  */
  /* width: 60%; */
  /* overflow-y: auto; */
  /* margin-left: 10px; */
  background: #fff;
  border-left: 1px solid rgba(221, 221, 221, 0.38);
  height: 100%;
}

/*=======================
右側page-homes(社交icon) Styles
=========================*/

.social-icons ul{
  border: blue 2px solid;

}

.social-icons ul li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

.social-icons ul li a {
    padding: 5px 8px;
    font-size: 16px;
}


.social-icons ul li a:hover {
  color: #000;
  transform: scale(1.2) translateY(-5px);
}
.user-profile {
    padding: 30px 10px 15px 50px;
    border: blue 2px solid;
    /* width: 20rem; */

}

/*=======================
右側page-homes(頭貼) Styles
=========================*/

/* .profile-details{
padding: 20px;
border: blue 2px solid;

} */


.user-img{
  border: blue 2px solid;
  height: 100%;
  /* width: 200px; */
  position: relative;
  /* max-width: 10rem; */

}

.amoeba {
           
  width: 185px;
  height: 185px;
  background: linear-gradient( 90deg,
  #f572b5,
  #ec89af,
  #ec89b7,
  #e998ba,
  #f7a4be);
  z-index: 1;
  /* background-size: 1600% 1600%; */
  animation: morph 10s ease-in-out infinite alternate,
  change 20s linear infinite alternate;

 
}

.photo{
width: 170px;
height: 160px;
border-radius: 50%;
position: absolute;
top: 10px;
right: 15px;
/* height: 20rem; */
}

@keyframes morph {
  0%,
  100% {
      border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
      border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
      border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
      border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
      border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

@keyframes change {

  100% {
      background-position: 100% 50%;
  }

}

/*=======================
右側page-homes(介紹) Styles
=========================*/

.sm-text {
    letter-spacing: 2.1px;
    font-weight: normal;
    color: #222222;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.name {
    font-size: 40px;
    text-transform: uppercase;
    margin: 15px 0px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.role {
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #222222;
}

.text {
   
    font-size: 15px;
}

.pr-list {
    margin: 30px 0px;
    
}

.pr-list ul li {
    margin-bottom: 8px;
}

.pr-list ul li i {
    width: 18px;
}

.social-icons ul {
    display: flex;
    justify-content: space-evenly;
}

.social-icons ul li a {
    padding: 5px 0px;
    font-size: 22px;
    transition: all .3s;
    /* display: flex; */
    /* border: steelblue 2px solid; */
}

/* .social-icons {} */

/* .social-icons ul li:nth-child(1) a {
    padding-left: 0;
} */

.social-icons ul li a:hover {
    color: #000;
    transform: scale(1.2) translateY(-5px);
}
.sec-title {
    /* width:50% ; */
    /* margin-bottom: 50px; */
    border: steelblue solid 2px;
}

.pg-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    color: #000;
}

.pg-sub-title {
    margin-bottom: 10px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}


       

.slogan{
  /* position: relative;
    top: 50%;   */
    width: 550px;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    letter-spacing: 2px; 
}

.english-slogan{
    font-size: 25px;
    font-family: 'Caveat', cursive;  
    color: rgb(223, 93, 134);
}

.chinese-slogan{
  font-size: 18px;
  font-family: 'Noto Sans TC', sans-serif;  
  color: rgb(223, 109, 146);

}





/* Animation */
.en-anim-typewriter{
  animation: typewriter 1.8s steps(25) 1.8s 1 normal both ,
             blinkTextCursor 1000ms steps(10)  normal;
}

.cn-anim-typewriter{
  animation: typewriter 2s steps(30) 4s 1 normal both ,
             blinkTextCursor 1000ms steps(10)  normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 550px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(22, 17, 17, 0.75);}
  to{border-right-color: transparent;}
}



